<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>InterMovies - Home</title>
  <link rel="stylesheet" href="../css/home.css">
</head>

<body>

  <!-- Navbar -->
  <div class="navbar">
    <img src="../assets/logo.png" alt="Logo Inter Movies"> <!-- Logo -->
    <div class = "links">
      <a href="index.html" >Início</a>
      <a href="series.html">Séries</a>
      <a href="filmes.html" >Filmes</a>
      <a href="login.html" >Login</a>
      <a href="informações.html">Dúvidas</a> 
    </div>
    </div>
  </div>

  <!-- Seção de Boas-Vindas -->
  <div class="welcome">
    <h2>Bem vindo ao melhor </br>site de filmes gratuitos!</h2>
    <p>Desfrute de uma vasta seleção de filmes e séries, tudo de forma gratuita. Acompanhe as últimas novidades e entretenimento direto no seu dispositivo!</p>
  </div>

  <!-- Banner -->
  <div class="banner">
    <h1>Assistir agora</h1>
    <p>Prepare-se para assistir as melhores séries e filmes diretamente da sua tela. Não perca tempo, venha se divertir!</p>
    <div class="buttons">
      <a href="filmes.html">Filmes</a> 
      <a href="series.html">Séries</a>
    </div>
  </div>

  <!-- Footer -->
  <footer>
    <p>&copy; 2024 Inter Movies - Todos os direitos reservados</p>
    <p>
      Desenvolvido por <a href="./informações.html">Emanuel</a>.
      Para mais informações, visite nossa <a href="#">página de contato</a>.
    </p>
  </footer>

</body>

</html>
